.git
.codex
.waylog

**/build/
**/release/
**/logs/
**/records/
**/result/
**/results/
**/backup/
**/evaluation_backup/
**/cmake-build-debug/
**/.cache/
**/.idea/
**/.vscode/
**/__pycache__/
**/venv/

*.log
*.pcap
*.fc32
*.pyc
*.tmp
core.*
